<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>About This Project</h1>
    <p>This is a simple Flask web application that serves as a base for a larger project.</p>

    <div>
        <h1>What You'll Learn</h1>
        <ul>
            <li> How to create a flask application </li>
            <li> How to create a simple web page </li>
            <li> How to use HTML and CSS to style the page </li>
            <li> How to use Flask to serve static files </li>
            <li> How to use templates</li>
        </ul>
    </div>
</body>
</html>